<a href="https://colab.research.google.com/github/Shruti-425/AIML/blob/main/Experiment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement the missing value, and outlier handling data preprocessing  techniques on the dataset imported in lab 4 or any other dataset.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('student-dataset.csv')

In [20]:
df_cleaned = df.dropna()

In [21]:
df_filled = df.fillna(df.select_dtypes(include=np.number).mean())

In [22]:
df_filled_median = df.fillna(df.select_dtypes(include=np.number).median())

In [23]:
df_filled_mode = df.apply(lambda x: x.fillna(x.mode()[0]) if x.dtype == 'O' else x)

In [25]:
Q1 = df.select_dtypes(include=np.number).quantile(0.25)
Q3 = df.select_dtypes(include=np.number).quantile(0.75)
IQR = Q3 - Q1

In [26]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [27]:
outliers = ((df.select_dtypes(include=np.number) < lower_bound) | (df.select_dtypes(include=np.number) > upper_bound))

In [28]:
df_no_outliers = df[~((df.select_dtypes(include=np.number) < lower_bound) | (df.select_dtypes(include=np.number) > upper_bound)).any(axis=1)]

In [29]:
df_capped = df.copy()
numeric_df = df.select_dtypes(include=np.number) # Select numeric columns for comparison

for col in numeric_df.columns:
    df_capped.loc[numeric_df[col] < lower_bound[col], col] = lower_bound[col]
    df_capped.loc[numeric_df[col] > upper_bound[col], col] = upper_bound[col]

<ipython-input-29-ac277238275a>:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.25' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_capped.loc[numeric_df[col] < lower_bound[col], col] = lower_bound[col]
<ipython-input-29-ac277238275a>:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_capped.loc[numeric_df[col] < lower_bound[col], col] = lower_bound[col]

In [30]:
df_imputed_outliers = df.copy()
df_imputed_outliers[outliers] = np.nan

In [31]:
numeric_df = df.select_dtypes(include=np.number)
df_imputed_outliers = df_imputed_outliers.fillna(numeric_df.mean())

In [32]:
print("Original DataFrame:\n", df)
print("DataFrame after handling missing values and outliers:\n", df_imputed_outliers)

Original DataFrame:
       id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]
DataFrame after handling missing values and outliers:
       id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

      latitude   longitude gender  ethnic.group  age  english.grade  \
0    31.310000  -64.539121      F           NaN   22            3.5
1    34.390000 -118.540000      M           NaN   22            2.9
2    37.800000 -122.270000      F           NaN   22            3.9
3    37.690000 -122.090000      F           NaN   20            3.3
4    32.863388  -45.880000      F           NaN   21            3.7
..         ...         ...    ...           ...  ...            ...
302  39.960000  -83.000000      M           NaN   20            3.6
303  34.050000 -118.240000      F           NaN   20            3.6
304  34.050000 -118.240000      M           NaN   20            3.2
305  37.800000 -122.270000      F           NaN   23            3.0
306  43.670000  -79.420000      M           NaN   21            3.8

     math.grade  sciences.grade  language.grade  portfolio.rating  \
0           3.7             3.1        4.396417               4.0
1           3.2             3.6        5.000000               5.0
2           3.8             3.2        5.000000               3.0
3           2.8             3.2        5.000000               5.0
4           2.6             3.4        4.396417               4.0
..          ...             ...             ...               ...
302         3.7             3.1        5.000000               4.0
303         3.9             4.0        5.000000               5.0
304         3.4             3.9        5.000000               5.0
305         2.8             2.9        5.000000               4.0
306         3.2             4.0        5.000000               5.0

     coverletter.rating  refletter.rating
0              4.000000               4.0
1              4.000000               5.0
2              3.000000               4.0
3              4.110749               4.0
4              4.000000               5.0
..                  ...               ...
302            5.000000               5.0
303            5.000000               3.0
304            5.000000               3.0
305            4.000000               5.0
306            4.000000               5.0

[307 rows x 16 columns]